/* GENERAL */
body {
  background-color: #e6affc
}
.footer {
  font-family:'Courier New', Courier, monospace;
  font-size: 20px;
  position: absolute;
}
.credits {
  font-family:'Courier New', Courier, monospace;
  font-size: 20px;
  position: absolute;
  color: black;
  text-decoration: none;
}
.credits:hover {
  color: #e6affc;
}
.return {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  color: black;
  font-size: 25px;
  position: absolute;
  top: 25%;
  left: 43%;
}
.return:hover {
  color: red;
}
.source {
  color: red;
  opacity: 0%;
  position: absolute;
}

/* NAVIGATION BAR */
.container {
  display: inline-block;
  cursor: pointer;
  position: absolute; 
  top: 28%;
  right: 20%;
}
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  transition: 0.4s;
}
.sidenav {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 100%;
  width: 0; 
  position: fixed; 
  z-index: 1;
  top: 0;
  right: 0;
  background-color: black; 
  overflow-x: hidden; 
  padding-top: 60px;
  transition: 0.5s; 
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #e6affc;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
#main {
  transition: margin-left .5s;
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* PANEL 2 */
.panel2 {
  position: absolute;
}
.panel2:hover {
  opacity: 50%;
}

/* PANEL 3 */
* {box-sizing:border-box}


.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}


.mySlides {
  display: none;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: #e6affc;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* PANEL 4 */
.review {
  font-family: 'Courier New', Courier, monospace;
  color: #e6affc;
  font-size: 14px;
  position: absolute;
  top: 142%;
  right: 23%;
  font-weight: 900;
  letter-spacing: 1px;
}
.review:hover {
  color: pink;
}

/* PANEL 5 */
.song {
  position: absolute;
}
.song:hover {
  opacity: 50%;
}

/* PANEL 6 */
.link {
  font-family: 'Courier New', Courier, monospace;
  color: red;
  font-size: 20px;
  position: absolute;
}
.link:hover {
  color: pink;
}
